<a href="https://colab.research.google.com/github/vunnampragathi/projects/blob/main/src/ml_models3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score 
from sklearn.metrics import accuracy_score, confusion_matrix

In [14]:
COL_LIST = ['State','Date Local','NO2 AQI','NO2 Mean','O3 AQI','O3 Mean','CO AQI','CO Mean','SO2 AQI','SO2 Mean']

In [15]:
data = pd.read_csv("/content/uspollution_pollution_us_2000_2016.csv",usecols =COL_LIST )

In [16]:
data

,State,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI
0,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,3.000000,13.0,1.145833,NaN
1,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,3.000000,13.0,0.878947,25.0
2,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,2.975000,NaN,1.145833,NaN
3,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,2.975000,NaN,0.878947,25.0
4,Arizona,2000-01-02,22.958333,34.0,0.013375,27.0,1.958333,4.0,0.850000,NaN
...,...,...,...,...,...,...,...,...,...,...
306136,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.238095,6.0,0.283333,3.0
306137,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.366667,NaN,0.271429,NaN
306138,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.366667,NaN,0.283333,3.0
306139,California,2003-08-24,3.956522,7.0,0.034125,39.0,2.043478,7.0,0.278261,NaN
306140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df=data.fillna(method='ffill')
df

,State,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI
0,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,3.000000,13.0,1.145833,NaN
1,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,3.000000,13.0,0.878947,25.0
2,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,2.975000,13.0,1.145833,25.0
3,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,2.975000,13.0,0.878947,25.0
4,Arizona,2000-01-02,22.958333,34.0,0.013375,27.0,1.958333,4.0,0.850000,25.0
...,...,...,...,...,...,...,...,...,...,...
306136,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.238095,6.0,0.283333,3.0
306137,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.366667,6.0,0.271429,3.0
306138,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.366667,6.0,0.283333,3.0
306139,California,2003-08-24,3.956522,7.0,0.034125,39.0,2.043478,7.0,0.278261,3.0
306140,California,2003-08-24,3.956522,7.0,0.034125,39.0,2.043478,7.0,0.278261,3.0

In [18]:
df=df.fillna(method='bfill')

In [19]:
df

,State,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI
0,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,3.000000,13.0,1.145833,25.0
1,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,3.000000,13.0,0.878947,25.0
2,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,2.975000,13.0,1.145833,25.0
3,Arizona,2000-01-01,19.041667,46.0,0.022500,34.0,2.975000,13.0,0.878947,25.0
4,Arizona,2000-01-02,22.958333,34.0,0.013375,27.0,1.958333,4.0,0.850000,25.0
...,...,...,...,...,...,...,...,...,...,...
306136,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.238095,6.0,0.283333,3.0
306137,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.366667,6.0,0.271429,3.0
306138,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.366667,6.0,0.283333,3.0
306139,California,2003-08-24,3.956522,7.0,0.034125,39.0,2.043478,7.0,0.278261,3.0
306140,California,2003-08-24,3.956522,7.0,0.034125,39.0,2.043478,7.0,0.278261,3.0

In [20]:
df1=df.loc[df['State'] == "California"]

In [21]:
df1

,State,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI
3516,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.636364,3.0,0.556522,22.0
3517,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.636364,3.0,0.572222,9.0
3518,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.600000,3.0,0.556522,9.0
3519,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.600000,3.0,0.572222,9.0
3520,California,2000-01-02,16.043478,28.0,0.015292,27.0,1.000000,3.0,0.578261,9.0
...,...,...,...,...,...,...,...,...,...,...
306136,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.238095,6.0,0.283333,3.0
306137,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.366667,6.0,0.271429,3.0
306138,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.366667,6.0,0.283333,3.0
306139,California,2003-08-24,3.956522,7.0,0.034125,39.0,2.043478,7.0,0.278261,3.0
306140,California,2003-08-24,3.956522,7.0,0.034125,39.0,2.043478,7.0,0.278261,3.0

The pollutant with the highest AQI value determines the overall AQI for that hour.

ref:https://www.pca.state.mn.us/air-water-land-climate/understanding-the-air-quality-index-aqi#:~:text=The%20AQI%20is%20calculated%20by,National%20Ambient%20Air%20Quality%20Standards.

In [22]:
df1["AQI"] = df1.max(axis=1)
df1

<ipython-input-22-b074f61f2b8d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1["AQI"] = df1.max(axis=1)
<ipython-input-22-b074f61f2b8d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["AQI"] = df1.max(axis=1)

,State,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI,AQI
3516,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.636364,3.0,0.556522,22.0,25.0
3517,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.636364,3.0,0.572222,9.0,25.0
3518,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.600000,3.0,0.556522,9.0,25.0
3519,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.600000,3.0,0.572222,9.0,25.0
3520,California,2000-01-02,16.043478,28.0,0.015292,27.0,1.000000,3.0,0.578261,9.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...
306136,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.238095,6.0,0.283333,3.0,35.0
306137,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.366667,6.0,0.271429,3.0,35.0
306138,California,2003-08-23,2.857143,6.0,0.034364,35.0,1.366667,6.0,0.283333,3.0,35.0
306139,California,2003-08-24,3.956522,7.0,0.034125,39.0,2.043478,7.0,0.278261,3.0,39.0
306140,California,2003-08-24,3.956522,7.0,0.034125,39.0,2.043478,7.0,0.278261,3.0,39.0

In [23]:
def AQI_Range(x):
  if x<=50:
    return "Good"
  elif x>50 and x<=100:return "Moderate"
  elif x>100 and x<=200:return "Poor"
  elif x>200 and x<=300:return "Unhealthy"
  elif x>300 and x<=400:return "Very unhealthy"
  elif x>400:return "Hazardous"
df1['AQI Range'] = df1['AQI'] .apply(AQI_Range)
df1.head()

<ipython-input-23-a6858cae1b7d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['AQI Range'] = df1['AQI'] .apply(AQI_Range)

,State,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI,AQI,AQI Range
3516,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.636364,3.0,0.556522,22.0,25.0,Good
3517,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.636364,3.0,0.572222,9.0,25.0,Good
3518,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.600000,3.0,0.556522,9.0,25.0,Good
3519,California,2000-01-01,14.782609,25.0,0.015542,25.0,0.600000,3.0,0.572222,9.0,25.0,Good
3520,California,2000-01-02,16.043478,28.0,0.015292,27.0,1.000000,3.0,0.578261,9.0,28.0,Good

In [24]:
x=df1[['NO2 AQI','O3 AQI','SO2 AQI','CO AQI']]
y=df1[['AQI']]
x.head()

      NO2 AQI  O3 AQI  SO2 AQI  CO AQI
3516     25.0    25.0      3.0    22.0
3517     25.0    25.0      3.0     9.0
3518     25.0    25.0      3.0     9.0
3519     25.0    25.0      3.0     9.0
3520     28.0    27.0      3.0     9.0

In [25]:
y.head()

       AQI
3516  25.0
3517  25.0
3518  25.0
3519  25.0
3520  28.0

In [32]:
X_train,X_test,Y_train,Y_test=train_test_split(x, y, test_size=0.2, random_state=70)
print(X_train.shape, X_test. shape,Y_train. shape, Y_test.shape)
#splitting the data into training and testing data

(111397, 4) (27850, 4) (111397, 1) (27850, 1)

# linear regression

In [33]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [34]:
train_pred=model.predict(X_train)
test_pred=model.predict(X_test)

In [37]:
RMSE_train=(np.sqrt(metrics.mean_squared_error(Y_train, train_pred)))
RMSE_test =(np.sqrt(metrics.mean_squared_error(Y_test, test_pred))) 
print("RMSE TrainingData=", str(RMSE_train))
print("RMSE TestData= ", str(RMSE_test))
print('-'*50)
print('RSquared value on train: ',model.score (X_train, Y_train)) 
print('RSquared value on test:',model.score (X_test, Y_test))

RMSE TrainingData= 7.797060173065247
RMSE TestData=  7.657633308597627
--------------------------------------------------
RSquared value on train:  0.8658313930714016
RSquared value on test: 0.8666661917912988

# logistic Regression

In [56]:
model=LogisticRegression()
model.fit(X_train,Y_train)

LogisticRegression()

In [57]:
train_pred=model.predict(X_train)
test_pred=model.predict(X_test)

In [58]:
RMSE_train=(np.sqrt(metrics.mean_squared_error(Y_train, train_pred)))
RMSE_test =(np.sqrt(metrics.mean_squared_error(Y_test, test_pred))) 
print("RMSE TrainingData=", str(RMSE_train))
print("RMSE TestData= ", str(RMSE_test))
print('-'*50)
print('RSquared value on train: ',model.score (X_train, Y_train)) 
print('RSquared value on test:',model.score (X_test, Y_test))

RMSE TrainingData= 22.451533719866866
RMSE TestData=  22.232275533645893
--------------------------------------------------
RSquared value on train:  0.06473244342307244
RSquared value on test: 0.06675044883303412

# Decision Tree Regressor

In [43]:
DT=DecisionTreeRegressor()
DT.fit(X_train,Y_train)

DecisionTreeRegressor()

In [44]:
train_pred=DT.predict(X_train) 
test_pred=DT.predict(X_test)

In [45]:
RMSE_train=(np.sqrt(metrics.mean_squared_error(Y_train, train_pred))) 
RMSE_test =(np.sqrt(metrics.mean_squared_error(Y_test, test_pred))) 
print("RMSE TrainingData=", str(RMSE_train)) 
print("RMSE TestData=",str(RMSE_test))
print('-'*50)
print('RSquared value on train:',DT.score (X_train, Y_train)) 
print('RSquared value on test:',DT.score (X_test, Y_test))

RMSE TrainingData= 0.0
RMSE TestData= 0.6834803741901095
--------------------------------------------------
RSquared value on train: 1.0
RSquared value on test: 0.9989378074563933

In [48]:
Y_train.head()
print(train_pred)

[36. 41. 51. ... 29. 49. 25.]

In [50]:
Y_train

          AQI
110496   36.0
216555   41.0
198801   51.0
211332   42.0
292698   47.0
...       ...
131783   24.0
194464  104.0
190336   29.0
105510   49.0
193484   25.0

[111397 rows x 1 columns]

# Random Forest Regressor

In [51]:
RF=RandomForestRegressor()
RF.fit(X_train,Y_train)

RandomForestRegressor()

In [52]:
train_pred=RF.predict(X_train)
test_pred=RF.predict(X_test)

In [54]:
RMSE_train=(np.sqrt(metrics.mean_squared_error(Y_train, train_pred)))
RMSE_test= (np.sqrt(metrics.mean_squared_error(Y_test, test_pred)))
print("RMSE TrainingData=", str(RMSE_train))
print("RMSE TestData=", str(RMSE_test))
print('-'*50)
print('RSquared value on train: ',RF.score (X_train, Y_train))
print('RSquared value on test:', RF.score (X_test, Y_test))

RMSE TrainingData= 0.1692152258264831
RMSE TestData= 0.7209000234471519
--------------------------------------------------
RSquared value on train:  0.9999368071395179
RSquared value on test: 0.9988183163388866

# ARIMA

In [60]:
from statsmodels.tsa.arima.model import ARIMA
import statsmodels.api as sm

In [62]:
ma_model = ARIMA(Y_train, order=(0, 0, 5))
ma_result = ma_model.fit()

/usr/local/lib/python3.9/dist-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/usr/local/lib/python3.9/dist-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/usr/local/lib/python3.9/dist-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

In [71]:
train_pred=ma_result.predict(Y_train)
test_pred=ma_result.predict(Y_test)

KeyError: ignored

In [69]:

mae_ma = mean_absolute_error(Y_test, ma_pred)
mse_ma = mean_squared_error(Y_test, ma_pred)
rmse_ma = np.sqrt(mean_squared_error(Y_test, ma_pred))
ma_perf = {'mae_ma': mae_ma,
             'mse_ma':mse_ma,
             'rmse_ma':rmse_ma}
ma_perf = pd.DataFrame([ma_perf])
    
print(ma_perf)

      mae_ma      mse_ma    rmse_ma
0  13.749998  439.824673  20.971997